body {
	font-family: monospace;
	background-color: #000;
	color: #000;
	overflow: hidden;
	
	padding: 0;
	margin: 0;
}

div.img_container {
	background-color: #000;
	opacity: 0.8;
	overflow: hidden;
	position: absolute;
}

div.img_container:hover, div.img_container:active{
	opacity:1;
}

img {
	position:relative;
}

.map {
	position: absolute;
}

/* Intro  //////////////////////// */
#intro, #intro_info {
	position: fixed;
	display: none;
	
	width: 400px;
	
	padding: 15px 0;
	
	z-index: 100;
	
	word-wrap:break-word;
	cursor: pointer;
}

#intro {
	top: 50px;
	left: -5px;
}

#intro_info {
	bottom: 50px;
	right: 10px;
	
	text-align: right;
}

#intro_title {
	font-family: Helvetica, Arial;
	font-size: 96px;
	font-weight: bold;
	
	letter-spacing: -9px;
	line-height: 80px;
	
	color: white;
	
	padding: 0;
	margin: 0;
	
	cursor: pointer;
}

#intro_desc, #intro_info {
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: white;
	
	margin: 20px 0 0 15px; 
	
	cursor: pointer;
}

#warning {
	width: 100%;
	padding: 10px;
	text-align: center;
	
	position: fixed;
	display: none;
	z-index: 10000;
	top: 0;
	
	background-color: #FF0000;
	color: #FFFFFF;
}